 <header class="flex flex-col lg:flex-row justify-between gap-4 
    bg-gradient-to-r from-blue-300 via-cyan-50 to-blue-100
    px-4 py-2 items-center">
<div class="flex flex-col lg:flex-row gap-2">
    <img src="{{Movielogo}}" alt="Movies" class="h-16">
</div>
<div>
    <input placeholder="searching ..." class="text-center border-2 bg-gray-300 rounded-3xl h-full w-72 text-2xl
     hover:text-white hover:bg-blue-700 p-2" >
</div>
<nav class=""> 
    <ul class="text-decoration-none flex flex-col lg:flex-row gap-4 justify-center items-center text-3xl ">
        <li><a routerLink="" class="hover:text-red-500">Home</a></li>
        <li><a routerLink="contact" class="hover:text-red-500">Contact</a></li>
        <li><a routerLink="WatchList" class="hover:text-red-500">WatchList</a></li>
    </ul>
</nav>

</header>