


<form #MyForm="ngForm" (ngSubmit)="SubmitForm(MyForm)">
  <div class="border-2 flex flex-col text-xl rounded-4xl border-gray-200 gap-3 pr-10 my-2 py-5 pl-4 pt-8 justify-center items-center w-full container">

    <div class="flex flex-col md:flex-row gap-8 p-8 w-full">

      <input type="text" placeholder="Your Name*" class="border-2 border-b-blue-400 rounded-3xl w-full p-6 h-20"
             required #name="ngModel" ngModel name="name" minlength="4">

      <input type="text" placeholder="Your E-Mail*" class="border-2 border-b-blue-400 rounded-3xl h-20 w-full p-6"
             required #email="ngModel" ngModel name="email" minlength="6">
    </div>

    <div *ngIf="name.touched && name.invalid" class="text-red-600 text-left">
      <p *ngIf="name.errors?.['required']">Enter the value in name field without leaving empty</p>
      <p *ngIf="name.errors?.['minlength']">Name must be 4 characters long</p>
    </div>

    <div *ngIf="email.touched && email.invalid" class="text-red-600 text-left">
      <p *ngIf="email.errors?.['required']">Email is required</p>
      <p *ngIf="email.errors?.['minlength']">Email must be 6 characters long</p>
    </div>

    <!-- Subject -->
    <div class="px-8 w-full flex flex-col">
      <input type="text" class="border-2 border-b-blue-400 rounded-3xl w-full h-20 p-6"
             placeholder="Subject*" required #subject="ngModel" ngModel name="subject">

      <div *ngIf="subject.touched && subject.invalid">
        <p class="text-red-500">Enter the subject without leaving empty</p>
      </div>
    </div>

    <!-- Message -->
    <div class="px-8 w-full">
      <input class="rounded-3xl pt-2 pl-8 w-full border-2 border-b-blue-400 h-32"
             placeholder="Your Message*" required #msg="ngModel" ngModel name="message">

      <div *ngIf="msg.touched && msg.invalid">
        <p class="text-red-500">Message cannot be empty</p>
      </div>
    </div>

    <input type="submit" class="bg-blue-400 text-white  text-4xl p-2 rounded-3xl hover:bg-blue-600 animate-pulse"
           value="Submit">

  </div>
</form>
